<mat-dialog-content>
    <div *ngIf="!form.valid">
        <p style="color:#dc3545;font-weight: 500;" *ngIf="submitted && form.hasError('notMatching')">Los passwords
            nuevos no son iguales</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label style="font-weight:500" for="passwordActual">Username</label>
            <h4 style="text-align: center;overflow-wrap: break-word;" [innerHTML]=data.username></h4>
        </div>
        <div class="form-group">
            <label style="font-weight:500" for="passwordActual">Password Actual</label>
            <input type="password" formControlName="passwordActual" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.passwordActual.errors }" />
            <div *ngIf="submitted && f.passwordActual.errors" class="invalid-feedback">
                <div *ngIf="f.passwordActual.errors.required">Password Actual es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label style="font-weight:500" for="passwordNuevo">Password Nuevo</label>
            <input type="password" formControlName="passwordNuevo" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.passwordNuevo.errors }" />
            <div *ngIf="submitted && f.passwordNuevo.errors" class="invalid-feedback">
                <div *ngIf="f.passwordNuevo.errors.required">Password Nuevo es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label style="font-weight:500" for="passwordConfirmar">Confirmar Password Nuevo</label>
            <input type="password" formControlName="passwordConfirmar" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.passwordConfirmar.errors }" />
            <div *ngIf="submitted && f.passwordConfirmar.errors" class="invalid-feedback">
                <div *ngIf="f.passwordConfirmar.errors.required">Confirmar Password Nuevo es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <div mat-dialog-actions style="text-align: center;">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Confirmar
                </button>
            </div>
        </div>
    </form>
</mat-dialog-content>